.search__error {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: crimson;
  height: auto;
  padding: 4rem 1rem;
  color: #fff;
}
.search__error h2 {
  margin: 10px;
}
@media screen and (max-width: 768px) {
  .search__error h2 {
    font-size: 1rem;
  }
  .search__error p {
    font-size: 0.7rem;
  }
}
