.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 500px;
  margin-top: 50px;
  background-color: black;
  color: #fff;
  padding: 50px;
}
.about-img {
  background: url("../../assets/Image/pasta.png");
  background-position: center;

  background-size: contain;
  background-repeat: no-repeat;
}
.about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-info h1 {
  font-size: 3.5rem;
  margin-bottom: 3rem;
}
.about-info p {
  font-size: 1.2rem;
}
