.productlist {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  animation: products-appear 1s ease-out forwards;
}
@media screen and (max-width: 990px) {
  .productlist {
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
  }
}
@media screen and (max-width: 768px) {
  .productlist {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .productlist {
    grid-template-columns: 1fr;
  }
}
@keyframes products-appear {
  from {
    opacity: 0;
    transform: translateY(0.5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
